//
   Created by Wilsons on 6/13/17.

html
    head
        title Phoenix Dealer List
        link(
            rel="stylesheet"
            href="/css/eligible.css"
        )
        link(
            rel="stylesheet"
            href="/css/nav.css"
        )
    body.eligible-list__page
        include nav.pug
        h1.eligible-list__title #{data.count} Phoenix-#{eligibility} Dealers

        .collapsible.collapsible--collapsed
            .collapsible__controls(x-toggle)
                label.collapsible__label Results Table
                a.btn.btn--small(href="#") Expand

            table.eligible-table
                thead.eligible-table__head
                    tr
                        th Dealer Name
                        th Dealer ID
                        th Features
                tbody.eligible-table__body
                    each dealer in data.dealers
                        tr

                            td #{dealer.name}
                            td #{dealer.id}
                            td #{dealer.features.join(', ')}


        ul.eligible-list
            each dealer in data.dealers
                li.eligible-list__item
                    h2.eligible-list__item__name ✔️ #{dealer.name}
                    p.eligible-list__item__features ID: <span class="eligible-list__item__features eligible-list__item__features--id">#{dealer.id}</span>
                    p.eligible-list__item__features This dealer has the following #{dealer.features.length} Account Features:
                    each feature in dealer.features
                        p.eligible-list__item__features.eligible-list__item__features--indented  #{feature}

    script(src="/js/collapse.js" type="text/javascript")