//
   Created by Wilsons on 6/13/17.

html
    head
        title Phoenix Features List
        link(
            rel="stylesheet"
            href="/css/features.css"
        )
        link(
            rel="stylesheet"
            href="/css/nav.css"
        )

    body.feature-list__page
        include nav.pug
        h1.feature-list__title Phoenix Features Status

        ul.feature-list
            each feature in features
                li.feature-list__item
                    if feature.isComplete
                        h2.feature-list__item__name ✔️ #{feature.name}
                    else
                        h2.feature-list__item__name ❌️ #{feature.name}
                    if feature.note
                        p.feature-list__item__flags.feature-list__item__flags--note Note: #{feature.note}
                    p.feature-list__item__flags Used by #{feature.dealerCount}
                    p.feature-list__item__flags Associated Report Flags:
                    each flag in feature.flags
                        p.feature-list__item__flags #{flag}